@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$clr-background: #151515;
$clr-primary: #2873ff;
$clr-text: #c7cbd9;
$clr-border: #5d5d5d;
$clr-background-highlight: rgba($clr-border, 0.1);
$clr-warn: #cc3e3e;

body {
  margin: 0;
  padding: 0;
  //overflow: hidden;

  background-color: $clr-background;
  color: $clr-text;
}

body, button, input {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 300;
}

@mixin highlightOnHover {
  transition: background-color 100ms;
}
@mixin highlightOnHoverHover {
  background-color: $clr-background-highlight;
  cursor: pointer;
}

button.button {
  border: 1px solid $clr-border;
  border-radius: 5px;
  background: none;
  color: $clr-text;
  padding: 5px 8px;

  &:not(:disabled) {
    @include highlightOnHover;
    &:hover {
      @include highlightOnHoverHover;
    }
  }

  transition: color 200ms;
  &:disabled {
    color: rgba($clr-text, 0.5);
  }

  &.primary-button, &.warn-button {
    color: $clr-background;
    font-weight: 500;
    border: none;

    &.primary-button {
      background-color: $clr-primary;
      &:hover {
        background-color: $clr-primary;
      }
    }

    &.warn-button {
      background-color: $clr-warn;
      &:hover {
        background-color: $clr-warn;
      }
    }
  }
}

input.rename-input {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  color: $clr-text;
  font-size: 100%;
  border-bottom: 1px solid $clr-border;
}

.label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 60%;
  background-color: $clr-primary;
  display: inline-block;
  padding: 3px 5px;
  color: $clr-background;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 0;
}
