@import "../../styles.scss";

#container {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

#top-bar {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid $clr-border;

  -webkit-app-region: drag;

  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #icon {
    height: 25px;
    background-color: white;
    border-radius: 5px;
  }

  button {
    -webkit-app-region: no-drag;
  }
}

#sections-container {
  display: flex;
}

// https://cssloaders.github.io/
.loader {
  width: 10px;
  height: 10px;
  border: 2px solid rgba($clr-background, 0.8);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#not-installed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $clr-text;
}
