@import "../../styles.scss";

#container {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

#top-bar {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid $clr-border;

  -webkit-app-region: drag;

  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #icon {
    height: 25px;
    background-color: white;
    border-radius: 5px;
  }

  button {
    -webkit-app-region: no-drag;
  }
}

#sections-container {
  display: flex;
}
