<div id="container">

  <div id="top-bar">
    <div>
      <img src="assets/icon.png" id="icon">
      <div id="title">Cranberri</div>
    </div>
    <div>
      <button class="button warn-button" (click)="installOrUpdate()" *ngIf="!isInstalled || updateAvailable">
        {{ !isInstalled ? "Install" : "Update" }}
        <span class="loader" *ngIf="installOrUpdateLoading"></span>
      </button>
      <button class="button primary-button" (click)="close()">Done</button>
    </div>
  </div>

  <div id="sections-container" *ngIf="isInstalled">
    <app-worlds></app-worlds>
    <app-projects></app-projects>
  </div>
  <div id="not-installed-container" *ngIf="!isInstalled">
    Installation not found.
  </div>

</div>
